<h1>AdoptaMx</h1>

<p> Hola <%= @actual %>!
  Tienes una nueva solicitud de adopción para una de tus mascotas:
</p>

<br/>
Datos del solicitante:
Nombre: <%= @nombre  %>
Correo: <%= @email %>
Teléfono: <%= @phone %>
 
<p>  
  Favor de ingresar a página para más información. 
</p>
