<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="well fondo-crema">
				<div class="row">
					<div class="col-md-12">
						<h1 class="text-center">Nueva Publicación</h1>
					</div>
				</div>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Back', pets_path %>
