<section class="first">
	<div class="container">
		<div class="col-md-12 text-center">
			<h1 class="title">Adopta al perro que más lo necesita</h1>
			<h2 class="title">Por la felicidad de ayudar a los demás</h2>
			<br>
			<%= link_to "CONÓCELOS", pets_path, class:"btn btn-lg boton-salmon" %>
		</div>
	</div>
</section>
<h1>Proximamente podrás adoptar el perro de tus sueños</h1>
